@(form:Form[controllers.form.CrossValidation1.Integers])(implicit flash:Flash)

<html>
<head>
<title>Cross Validation Demo 1</title>

<style>
       label {
            color: blue;
        }
        dd.info {
            color: green;
        }
        dd.error {
            color: red;           
        }
                
        #globalError {
            background-color: red; color: white; font-weight: bold;
        }
</style>
</head>

<body>
<h1>Cross Validation Demo 1</h1>
    A demo on using @@helper.repeat and validation on a list of three integers. <br/> 
     The difference between the first and third integer must be divisible by 3.  
 
	The source code of this demo is
     <a href="@controllers.routes.Source.show("form.CrossValidation1")" target="_blank">here</a>.
    <br/><br/>

	 @form.globalError.map { error =>
        <div id="globalError">@error.message</div>
   } 

    @helper.form(action=controllers.form.routes.CrossValidation1.submit()){
        @helper.repeat(form("numbers"), min = 3) { tagField =>

        @helper.inputText(tagField, '_label -> "Integer") }

       <input type="submit" name="send" value="Submit" />
    }

   
   @if(flash.get("success").isDefined) {
       <hr/>
         You have input :
         <h1>@form.get.numbers.mkString(",") </h1> 
   }  
</body>
</html>
