@(message: String)
  @import play.api.Play.current
@main("Play (Scala) Demo") {
   
    
    This Play application has some examples and demonstrations on Play 2.1.1 (Scala).
    The source code of this application is available at 
    <a href="@current.configuration.getString("GitHubURL")">GitHub</a>.
    <br/> 
    
     <h4>Form and validation</h4>
    <ol>
        <li>A <a href="@controllers.form.routes.Demo1.show" target="_blank">form</a>
            with default error messages, and using flash scope.</li>
      <li>A <a href="@controllers.form.routes.Demo2.show" target="_blank">form</a>
            with custom error messages, and a custom constraint.
            </li>
      <li>An <a href="@controllers.form.routes.DemoBootstrap.show" target="_blank">example</a>
             using Bootstrap form helpers. This is a clone of (1) above.
            </li>      
     <li>An <a href="@controllers.form.routes.CrossValidation1.show" target="_blank">example</a>
             on @@helper.repeat and  cross validation on a list of integers.
            </li>      
     <li>An <a href="@controllers.form.routes.CrossValidation2.show" target="_blank">example</a>
             on cross validation on a list of integers and display indexed labels for each entry.
            </li>      
          <li> <a href="@controllers.form.routes.CustomIntMapping.show" target="_blank">
                 A custom Int mapping</a>.
             
            </li>         
             <li> An <a href="@controllers.form.routes.SimpleFieldConstructorDemo.show" target="_blank">
                 example</a> of a custom FieldConstructor that only renders the input html element
                 (without the label).
             
            </li>      
            
            <li> An <a href="@controllers.form.routes.ListOfObjectsDemo.show" target="_blank">
                 example</a> of a mapping of a list of objects.
             
            </li>      
            
    </ol>
    
    <h4>Examples and Techniques</h4>
    <ul>
         <li> 
            <a href="@controllers.technique.routes.Sum.show" target="_blank">
              Sum up to five numbers</a>
             
         </li>
     
    </ul>
    
    
    <h4>Widgets</h4>
    <ul>
        <li>An <a href="@controllers.widgets.routes.DataTablesDemo1.show" target="_blank">example</a>
            of displaying a static table using DataTables. </li>
     <li>An <a href="@controllers.widgets.routes.DataTablesDemo2.show" target="_blank">example</a>
            of DataTables with sorting and paging done by the server. </li>
    </ul>
    
    
    <h4>Persistence</h4>
    <ul>
         <li> 
            <a href="http://lombok.demon.co.uk/anormdemo1/" target="_blank"> A simple CRUD application using Anorm.</a>
             The source code is available at <a href="https://github.com/matmsh/anormDemo1">GitHub</a>.
         </li>
     
    </ul>
    
  
    
}
